<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form role="form" action="/writings/new" th:object="${writingForm}" method="post">
        <label th:for="title">제목</label>
        <input type="text" th:field="*{title}" placeholder="제목을 입력하세요">

        <label th:for="content">내용</label>
        <input type="text" th:field="*{content}" placeholder="내용을 입력하세요">

        <button type="submit">Submit</button>
    </form>

</body>
</html>